<link rel="stylesheet" href="common.css">

<div class="content flex-column">
	<i class="i-drop small center"></i>
	<div class="box round font-small">
		本测验由浙江省矿业联合会牵头发起，为响应浙江省政府最新提出的“健康浙江”规划方针，本着传播科学本质的健康饮水认知，提高我省居民对有益身体健康的矿泉水的真貌认知，在饮水方面科普健康认知，为实现“健康浙江”贡献一份力量；由浙江省矿业联合会热矿水专委会监制。
	</div>
	<div>
		<h1 class="text-center" style="margin: 0">浙江省矿联热矿水专委会</h1>
		<h1 class="text-center" style="margin: 0">矿泉水科学认知测验</h1>
	</div>
	<!--<h3 class="center">参与人数：{{visitCount | localeNumber}}</h3>-->
	<div class="box font-small">
		1）、本测试题共12题，总分为100分；<br>
2）、测试结果分为：100分为“优+”、95-99分为“优”、80-94分为“良”、60-79分为“中”和60分以下为“差”五种结果；<br>
3）、做题过程中，每做完一题提交答案后，会及时提示“对或错”的提示信息，并告知该题您获得了几分；<br>
4）、做完一轮测试，告知总得分结果，在该页面您可以点击“选一题查看答案”按钮，进入所测题列表，选择您最想知道答案的那一题进行查看，一轮只能查看一题；<br>
5）、最后，该测试的成绩，您可以将测试的成绩提交至浙江省矿业联合会的官网上，为您保留并展现在官网上。	<br>
	</div>
	<i class="i-start center" (click)="start()"></i>
</div>